/*=========================================================================================================================
* 프로젝트: 단국대
* 파일명: style.css
* 작업자: 박은선
* 작업일: 2014.07.08 ~ 
=========================================================================================================================*/
@import url("./reset.css");
html { overflow-y: scroll; }
body { font-size: 12px; font-family: Dotum, Gulim, Arial, AppleGothic, Sans-serif; color: #656565; }
button { font-size: 12px; font-family: Dotum, Gulim, Arial, AppleGothic, Sans-serif; }
.bg_gray { background: #e5e7ea; }
.section_install { margin: 220px auto 0; width: 957px; line-height: 1.4; }
.section_install .header_blue { padding-left: 19px; height: 51px; line-height: 51px; background: #5378cb; border-bottom: 2px solid #455a8c; }
.section_install .header_blue img { vertical-align: middle; }
.section_install .group_white { padding: 59px 50px 56px; background: url(../images/installation/bg_down.gif) no-repeat 107px 83px #fff; border: 1px solid #e0e0e0; border-top: 0; }
.section_install .txt_box { margin: 0 0 0 383px; }
.section_install .txt_top { margin-bottom: 7px; font-family: 'Nanum Gothic'; font-size: 20px; letter-spacing: -0.5px; }
.section_install .txt_top strong { font-size: 32px; color: #42567e; }
.section_install .txt_mid { font-family: 'Nanum Gothic'; font-size: 14px; letter-spacing: -0.5px; }
.section_install .txt_bot { font-size: 11px; }
.section_install .txt_bot .fc_blue { color: #5378cb; }
.section_install .animation { height: 40px; line-height: 40px; }
.section_install .animation * { vertical-align: middle; }
.section_install .group_gray { margin: 50px 0 0; padding: 23px 29px; background: #fbfbfb; border: 1px solid #e2e2e2; }
.section_install .tit_tbl { margin-bottom: 10px; font-family: 'Nanum Gothic'; font-size: 20px; letter-spacing: -0.5px; color: #3a414e; }
.section_install .tbl_column { margin-top: 10px; border-left: 1px solid #d5d5d5; }
.section_install .tbl_column th,
.section_install .tbl_column td { padding: 4px 9px; height: 22px; vertical-align: middle; text-align: center; background: #fff; border: 1px solid #d5d5d5; border-top: 0; border-left: 0; color: #656565; }
.section_install .tbl_column table * { vertical-align: middle; }
.section_install .tbl_column th { padding: 4px 0; font-weight: bold; background: #ecf0f9; border-top: 1px solid #c5c5c5; color: #686868; }
.section_install .tbl_column .ta_l { text-align: left; }
.section_install .btn_org { display: inline-block; padding: 0 10px; height: 18px; line-height: 18px; vertical-align: middle; background: #ea8046; border-radius: 1px; border: 1px solid #a35932; color: #fff; cursor: pointer; }
.section_install .btn_org span { display: block; position: relative; vertical-align: middle;}
.section_install .txt_bot2 { margin-top: 15px; color: #808080; }
.section_install .txt_copyright { margin: 15px 0 0; font-size: 11px; text-align: center; color: #878a94; }
